<section class="wrapper">
    <div class="registrar">
        <h1>Admin Pro</h1>
        <div class="card-r">
            <p class="titulo">Login</p>
            <p class="sub-titulo">O crear una <a class="login" href="#">Cuenta</a></p>
            <div class="relleno"></div>
            <div class="form-outer">
                <form action="">
                    <div class="page slide-page">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Correo usuario">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Constraseña">
                        </div>
                        <div class="flex">
                            <div class="elemento-flex">
                                <input id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup" class="checkbox">Recordarme</label>
                            </div>
                            <div class="elemento-flex">
                                <a class="desc" href="#">¿Has olvidado tu contraseña?</a>
                            </div>

                        </div>
                        <div class="form-group">
                            <button class="firstNext next form-control">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>